body {
    position: relative;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(360deg, aqua, #fff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.changemod{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(16, 16, 84);
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bolder;
    height: 2rem;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgb(255, 255, 255, 0.1);
}

.randomcontainer {
    width: calc(100vw / 3);
    margin: 1rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newherobutton {
    box-sizing: border-box;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    width: 250px;
    height: 2.7rem;
    border: 2px dashed black;
    background-color: rgb(73, 175, 141);
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: 0px 2px 5px black;
    cursor: pointer;
    justify-self: center;
}

.newherobutton:hover {
    background-color: rgb(54, 130, 105);
}

.searchcontainer {
    width: calc(100vw / 3);
    height: auto;
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    height: 2.7rem;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    background-color: rgb(153, 225, 201);
    color: black;
    box-shadow: 0px 2px 5px black;
    text-align: center;
    justify-self: center;
}

.searchbar:hover {
    background-color: rgb(122, 179, 160);
}

.searchButton {
    display: block;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    margin: .3rem 0;
    height: 2.7rem;
    width: 250px;
    background-color: rgb(73, 175, 141);
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: 0px 2px 5px black;
    cursor: pointer;
    border: none;
    justify-self: center;
}

.searchButton:hover {
    background-color: rgb(54, 130, 105);
}

.cardbody {
    position: relative;
    background: linear-gradient(45deg, aquamarine , white);
    width: 450px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px black;
    transition: .5s;
    padding: 5px;
}

.cardbody:hover {
    height: 580px;
    background: linear-gradient(45deg,white, aquamarine);
}

.img-box {
    background-color: #fff;
    width: 200px;
    height: 230px;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0px 2px 5px black;
    transition: 0.5s;
    position: relative;
    left: 50%;
    top: -90px;
}

.cardbody:hover .img-box {
    width: 300px;
    height: 350px;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.box {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    transform: translateY(120px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    transition: .5s;
}

.cardbody:hover .box{
    height: 65%;
    transform: translateY(160px);
}

.content {
    text-align: center;
    transition: .5s;
}

.heroname{
    background:linear-gradient(green, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .7s;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
}

.cardbody:hover .content {
    transform: translateY(110px);
}

.cardbody:hover .heroname{
    letter-spacing: 8px;
}

.stats {
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 0.5s;
    color: transparent;
}

.cardbody:hover .stats {
    color: #000;
}

.stats p {
    font-size: 2rem;
    margin: .5rem 2rem 0;
}

.stats p span {
    font-size: 15px;
    opacity: .5;
}

.darkModebody{
    background: linear-gradient(360deg, #000, #999) ;
    color: #fff;
    transition: .5s;
}

.darkModeButton{
    background-color: rgb(9, 9, 82);
    color: #fff;
    border: 1px solid rgb(13, 103, 139);
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.2);
}

.darkModeButton:hover{
    background-color: rgb(26, 26, 147);
}

.darkModesearchbar{
    background-color: rgb(9, 9, 82);
    color: #fff;
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.2);
}

.darkModesearchbar:hover{
    background-color: rgb(26, 26, 147);
}

.darkModecardbody{
    background: linear-gradient(45deg, #fff, #000);
}

.darkModecardbody:hover{
    background: linear-gradient(180deg, #fff, #000);
}

.darkModeheroname{
    background:linear-gradient(#fff, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: .7s;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 1355px){
    body{
        flex-direction: column;
    }

    .cardbody{
        width: 40vw;
    }

    .cardbody:hover{
        margin-top: 10vh;
    }

    .randomcontainer{
        width: 70vw;
    }
    .searchcontainer{
        width: 70vw;
    }
}

@media (max-width: 1050px){
    .stats p{
        font-size: 1.5rem;
    }
    .img-box{
        top: -40px;
        width: 170px;
        height: 150px;
    }

    .cardbody:hover .img-box{
        width: 250px;
        height: 300px;
    }

    .content{
        transform: translateY(-20px);
    }
    .cardbody{
        height: 200px;
        width: 400px;
    }

    .cardbody:hover{
        height: 495px;
    }

    .cardbody:hover .box{
        height: 400px;
        transform: translateY(130px);
    }
}

@media (max-width: 870px){
    .cardbody{
        width: 350px;
    }
    .img-box{
        width: 150px;
    }
    .cardbody:hover .img-box{
        width: 180px;
        height: 250px;
    }
}

@media (max-width: 440px){
    body{
        gap: 2.5rem;
    }

    .cardbody{
        height: 170px;
    }
    .cardbody .box{
        height: 65%;
        transform: translateY(120px);
    }

    .cardbody:hover{
        height:54vh ;
    }
    .cardbody:hover .box{
        height: 65%;
        transform: translateY(50px);
    }
    .cardbody:hover .content {
        transform: translateY(70px);
        height: 30vh;
    }

    .stats p {
        text-align: center;
        margin: .5rem 1rem 0;
    }

    .content{
        transform: translateY(-15px);
        height: 80px;
        width: 80%;
        overflow: hidden;
        text-align: center;
    }

    .cardbody:hover .content{
        height: 32vh;
        overflow: hidden;
    }

    .cardbody:hover .box{
        transform: translateY(120px);
    }
}

@media (max-width: 400px){
    .cardbody,.searchbar,.searchButton,.newherobutton, .cardbody:hover{
        width:85vw ;
    }
    .cardbody{
        height: 160px;
    }
    .cardbody:hover .content{
        height: 500px;
        overflow: hidden;
    }

    .cardbody:hover{
        height: 460px;
    }
    .stats {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: auto;
    }

    .stats p{
        margin: 0;
    }
}
